[Machine]
mode = train
ip = 127.0.0.1
port = 8891
token = client1
[Data]
data_path = ./data/classificationA/train0.csv
normalization = standardscaler
features = Pregnancies,Glucose
label = Outcome
[Model]
scale = 0.01
map_dim = 200
model = ./demos/kernelmethod/config/
[Coordinator]
server_ip = 127.0.0.1
server_port = 8890
server_token = server
client_ip = 127.0.0.1,127.0.0.1,127.0.0.1
client_port = 8891,8892,8893
client_token = client1,client2,client3
mode = train